In [20]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException , NoSuchWindowException

import requests

from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC

QUESTION NO : 1

In [75]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

In [76]:
data=requests.get(url).text

In [77]:
soup=BeautifulSoup(data,'html.parser')

In [78]:
print('classes for each table:')
for table in soup.find_all('table'):
    print(table.get('class'))

classes for each table:
['sortable', 'wikitable', 'sticky-header', 'static-row-numbers', 'sort-under', 'col3center', 'col4right']
['wikitable', 'sortable']
['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner']

In [79]:
tables=soup.find_all('table')
table=soup.find('table',class_='wikitable sortable')

In [95]:
df=pd.DataFrame(columns=['Name','Artist','Upload_name','Views'])

for row in table.tbody.find_all('tr'):
    columns=row.find_all('td')
    if(columns != []):
        Name=columns[0].text.strip()
        Artist=columns[1].text.strip()
        Upload_name=columns[2].text.strip()
        Views=columns[3].text.strip()
        df=df.concat({'Names':Name,'Artists':Artist,'Uploads':Upload_name,'View':Views})

AttributeError: 'DataFrame' object has no attribute 'concat'

In [96]:
df

Empty DataFrame
Columns: [Name, Artist, Upload_name, Views]
Index: []

In [ ]:
QUESTION NO : 2

In [97]:
driver=webdriver.Chrome()

In [49]:
driver.get("https://www.bcci.tv/")

In [50]:
international_fixtures=driver.find_element(By.XPATH,"/html/body/div[2]/div/a[2]")
international_fixtures.click()

In [51]:
try:
        names=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
        for x in range(len(names)):
            print(names[x].text)
except NoSuchElementException as e:
        names.append("--")

India Tour Of Sri Lanka T20 Series 2024
Asia Cup Women T20 2024
India Tour Of Sri Lanka T20 Series 2024
India Tour Of Sri Lanka T20 Series 2024
India Tour Of Sri Lanka ODI Series 2024

In [52]:
try:
        places=driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]')
        for x in range(len(places)):
            print(places[x].text)
except NoSuchElementException as e:
        places.append("--")

Pallekele International Cricket Stadium, Pallekele
Rangiri Dambulla International Stadium, Dambulla
Pallekele International Cricket Stadium, Pallekele
Pallekele International Cricket Stadium, Pallekele
R Premadasa International Stadium, Colombo

In [53]:
try:
        dates=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
        for x in range(len(dates)):
            print(dates[x].text)
except NoSuchElementException as e:
        dates.append("--")

27 Jul
28 Jul
28 Jul
30 Jul
2 Aug

In [54]:
try:
        times=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
        for x in range(len(times)):
            print(times[x].text)
except NoSuchElementException as e:
        times.append("--")

19:00 IST
15:00 IST
19:00 IST
19:00 IST
14:30 IST

In [ ]:
driver.quit()

QUESTION NO : 3

In [14]:
driver=webdriver.Chrome()

In [15]:
driver.get("http://statisticstimes.com/")

In [16]:
a = ActionChains(driver)
m = driver.find_element(By.XPATH, "//div[@class='navbar']//div[@class='dropdown'][2]//button[@class='dropbtn']")
a.move_to_element(m).perform()
time.sleep(1)

In [17]:
try:
    india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    india.click()
except NoSuchElementException:
    time.sleep(5)

In [ ]:
gdp_india=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_india.click()

In [ ]:
gdp_table = driver.find_element(By.XPATH, '//table[@id="table_id"]')
gdp_details = gdp_table.find_elements(By.XPATH, ".//tbody//tr")

In [ ]:
state = []
GSDP1819 = []
GSDP1920 = []
share1819 = []
GDP = []

In [ ]:
for gdp_state in gdp_details:

    try:
        state.append(gdp_state.find_element(By.XPATH, ".//td[1]").text)
    except NoSuchElementException:
        state.append("-")

    try:
        GSDP1819.append(gdp_state.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        GSDP1819.append("-")

    try:
        GSDP1920.append(gdp_state.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        GSDP1920.append("-")

    try:
        share1819.append(gdp_state.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        share1819.append("-")

    try:
        GDP.append(gdp_state.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        GDP.append("-")

In [ ]:
df = pd.DataFrame({'State': state, 'GSDP (19-20)': GSDP1819, 'GSDP (18-19)': GSDP1920, 'Share': share1819, 'GDP ($billion)': GDP})
df

In [ ]:
driver.quit()

QUESTION NO : 4

In [24]:
driver=webdriver.Chrome()

In [25]:
driver.get("https://github.com/")

In [34]:
a = ActionChains(driver)
m = driver.find_element(By.XPATH, "//*[contains(text(), 'Open Source')]")
a.move_to_element(m).perform()
time.sleep(5)

In [35]:
try:
    tranding=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')
    tranding.click()
except NoSuchElementException:
    print("not fund")
    time.sleep(5)

In [37]:
repo_details = driver.find_elements(By.XPATH, "//article[@class='Box-row']")

In [55]:
repo_title = []
repo_desc = []
cont_count = []
language = []

In [56]:
for repo in repo_details:

    try:
        repo_title.append(repo.find_element(By.XPATH, ".//h1[@class='h3 lh-condensed']//a").text)
    except NoSuchElementException:
        repo_title.append("-")

    try:
        repo_desc.append(repo.find_element(By.XPATH, ".//p").text)
    except NoSuchElementException:
        repo_desc.append("-")

    try:
        cont_counts = repo.find_elements(By.XPATH, ".//span[@class='d-inline-block mr-3']//a")
        cont_count.append(len(cont_counts))
    except NoSuchElementException:
        cont_count.append("-")

    try:
        language.append(repo.find_element(By.XPATH, ".//span[@itemprop='programmingLanguage']").text)
    except NoSuchElementException:
        language.append("-")

In [57]:
df = pd.DataFrame({'Repository Title': repo_title, 'Repository Description': repo_desc, 'Contributors Count': cont_count, 'Language Used': language})
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,-,😎 Awesome lists about all kinds of interesting...,5,-
1,-,Lean 4 programming language and theorem prover,5,Lean
2,-,freeCodeCamp.org's open-source codebase and cu...,5,TypeScript
3,-,An open-source C++ library developed and used ...,5,C++
4,-,"Free, simple, and intuitive online database de...",5,JavaScript
5,-,The official Meta Llama 3 GitHub site,5,Python
6,-,"Get up and running with Llama 3.1, Mistral, Ge...",5,Go
7,-,"🤯 Lobe Chat - an open-source, modern-design LL...",5,TypeScript
8,-,Fast C++ logging library.,5,C++
9,-,Modern CSS framework based on Flexbox,5,CSS
10,-,Flipper Zero Unleashed Firmware,5,C
11,-,An automated e-mail OSINT tool,3,Go
12,-,Ollama Python library,5,Python
13,-,"A one-stop, open-source, high-quality data ext...",5,Python
14,-,A complete computer science study plan to beco...,5,-
15,-,API Documentation Browser,5,Ruby
16,-,Extremely Fast Compression algorithm,5,C

In [58]:
driver.quit()

QUESTION NO : 5

In [64]:
driver = webdriver.Chrome()

In [65]:
driver.get("https://www.billboard.com/")

In [67]:
charts=driver.find_element(By.XPATH, "/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
charts.click()
time.sleep(3)

In [68]:
billboard=driver.find_element(By.XPATH, "/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
billboard.click()
time.sleep(3)

In [69]:
song = []
artist = []
last_week = []
peak = []
weeks_on_board = []

In [70]:
topSongs_details = driver.find_elements(By.XPATH, "//div[@class='o-chart-results-list-row-container']")

In [71]:
print("topSongs_details: ", len(topSongs_details))

topSongs_details:  100

In [72]:
for topSong in topSongs_details:

    try:
        song.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[1]//h3[@id='title-of-a-story']").text)
    except NoSuchElementException:
        song.append("-")

    try:
        artist.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[1]//span").text)
    except NoSuchElementException:
        artist.append("-")

    try:
        last_week.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[4]").text)
    except NoSuchElementException:
        last_week.append("-")

    try:
        peak.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[5]").text)
    except NoSuchElementException:
        peak.append("-")

    try:
        weeks_on_board.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[6]").text)
    except NoSuchElementException:
        weeks_on_board.append("-")

In [73]:
df = pd.DataFrame({'Song Name': song, 'Artist Name': artist, 'Last Week Rank': last_week, 'Peak Rank': peak, 'Weeks On Board': weeks_on_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,A Bar Song (Tipsy),Shaboozey,2,1,14
1,I Had Some Help,Post Malone Featuring Morgan Wallen,3,1,10
2,Not Like Us,Kendrick Lamar,1,1,11
3,Million Dollar Baby,Tommy Richman,4,2,12
4,Espresso,Sabrina Carpenter,5,3,14
...,...,...,...,...,...
95,Bass Boat,Zach Bryan,61,61,2
96,Think I'm In Love With You,Chris Stapleton,87,49,11
97,Beautiful As You,Thomas Rhett,95,83,6
98,Sweet Dreams,Koe Wetzel,88,35,9
99,Sandpaper,Zach Bryan Featuring Bruce Springsteen,71,71,2

In [74]:
driver.quit()

QUESTION NO : 6

In [75]:
driver = webdriver.Chrome()

In [76]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [77]:
novels_table = driver.find_element(By.XPATH, "//table[@class='in-article sortable']")
novels_details = novels_table.find_elements(By.XPATH, ".//tbody//tr")

In [78]:
book = []
author = []
sold = []
publisher = []
genre = []

In [79]:
for novel in novels_details:

    try:
        book.append(novel.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        book.append("-")

    try:
        author.append(novel.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        author.append("-")

    try:
        sold.append(novel.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        sold.append("-")

    try:
        publisher.append(novel.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        publisher.append("-")

    try:
        genre.append(novel.find_element(By.XPATH, ".//td[6]").text)
    except NoSuchElementException:
        genre.append("-")

In [80]:
df = pd.DataFrame({'Book Name': book, 'Author Name': author, 'Volumes Sold': sold, 'Publisher': publisher, 'Genre': genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [81]:
driver.quit()

QUESTION NO : 7

In [82]:
driver = webdriver.Chrome()

In [84]:
driver.get("http://www.imdb.com/list/ls095964455/")

In [85]:
tvShows = driver.find_elements(By.XPATH, "//div[@class='lister-item mode-detail']")

In [86]:
name = []
years = []
genre = []
run_time = []
rating = []
votes = []

In [90]:
for tvShow in tvShows:

    try:
        name.append(tvShow.find_element(By.XPATH, ".//h3[@class='lister-item-header']//a").text)
    except NoSuchElementException:
        name.append("-")

    try:
        years.append(tvShow.find_element(By.XPATH, ".//span[@class='lister-item-year text-muted unbold']").text)
    except NoSuchElementException:
        years.append("-")

    try:
        genre.append(tvShow.find_element(By.XPATH, ".//p[@class='text-muted text-small']//span[@class='genre']").text)
    except NoSuchElementException:
        genre.append("-")

    try:
        run_time.append(tvShow.find_element(By.XPATH, ".//p[@class='text-muted text-small']//span[@class='runtime']").text)
    except NoSuchElementException:
        run_time.append("-")

    try:
        rating.append(tvShow.find_element(By.XPATH, ".//span[@class='ipl-rating-star__rating']").text)
    except NoSuchElementException:
        rating.append("-")

    try:
        votes.append(tvShow.find_element(By.XPATH, ".//span[@name='nv']").text)
    except NoSuchElementException:
        votes.append("-")

In [91]:
df = pd.DataFrame({'Name': name, 'Year Span': years, 'Genre': genre, 'Run Time': run_time, 'Rating': rating, 'Votes': votes})
df

Empty DataFrame
Columns: [Name, Year Span, Genre, Run Time, Rating, Votes]
Index: []

QUESTION ON : 8

In [16]:
driver = webdriver.Chrome()

In [17]:
driver.get("https://archive.ics.uci.edu/")

In [18]:
datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
datasets.click()
time.sleep(1)

In [31]:
dataset = []
data_type = []
task = []
attribute_type = []
instance_number = []
attribute_number = []
year = []

In [ ]:
true = True

while true:

    datasets = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in datasets:
        data = i.text
        dataset.append(data)

    data_types = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[2]/span')
    for i in data_types:
        dty = i.text
        if len(dty) < 1:
            dty = '-'
        data_type.append(dty)

    tasks = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[1]/span')
    for i in tasks:
        tsk = i.text
        if len(tsk) < 1:
            tsk = '-'
        task.append(tsk)

    attribute_types = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
    for i in attribute_types:
        attr_type = i.text
        if len(attr_type) < 1:
            attr_type = '-'
        attribute_type.append(attr_type)

    instance_numbers = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[3]/span')
    for i in instance_numbers:
        inst_num = i.text
        if len(inst_num) < 1:
            inst_num = '-'
        instance_number.append(inst_num)

    attribute_numbers = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[3]/span')
    for i in attribute_numbers:
        attr_num = i.text
        if len(attr_num) < 1:
            attr_num = '-'
        attribute_number.append(attr_num)
        
    years = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
    for i in years:
        yearss = i.text
        year.append(yearss)  

    try:    
        driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]').click() 
    except:
        true = 0
        break
    
    time.sleep(5)

In [ ]:
df = pd.DataFrame({'DataSet Name': dataset, 'Data Type': data_type, 'Task': task, 'Attribute Type': attribute_type, 'No of Instances': instance_number, 'No of attribute': attribute_number, 'Year': year})
df

In [ ]:
driver.quit()

QUESTION NO : 1

In [21]:
driver = webdriver.Chrome()

In [23]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [24]:
rank = []
name = []
artist = []
upload_date = []
views = []

In [25]:
all_tables = driver.find_element(By.XPATH, "//table")

In [26]:
videos_table = all_tables.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter']")
    
for video_table in videos_table[0:1]:
        video_details = video_table.find_elements(By.XPATH, ".//tbody//tr")

In [27]:
for video in video_details:
    try:
        rank.append(video.find_element(By.XPATH, ".//td[1]").text.replace(".", ""))
    except NoSuchElementException:
        rank.append("-")

    try:
        name.append(video.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        name.append("-")

    try:
        artist.append(video.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        artist.append("-")

    try:
        upload_date.append(video.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        upload_date.append("-")

    try:
        views.append(video.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        views.append("-")

In [28]:
df = pd.DataFrame({'Rank': rank, 'Name': name, 'Artist': artist, 'Upload Date': upload_date, 'Views (billions)': views})
df

,Rank,Name,Artist,Upload Date,Views (billions)
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
2,"""See You Again""[21]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
3,"""Gangnam Style""⁂[31]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
4,"""Baby""*[69]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
5,"""Bad Romance""[73]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
6,"""Charlie Bit My Finger""[77]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
7,"""Evolution of Dance""[79]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
8,"""Girlfriend""‡[81][82]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
9,"""Evolution of Dance""[79]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
10,"""Music Is My Hot Hot Sex""‡[87]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
11,"""Evolution of Dance""*[79]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
12,"""Pokémon Theme Music Video""‡[92]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
13,"""Myspace – The Movie""‡[97][98]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
14,"""Phony Photo Booth""‡[101]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
15,"""The Chronic of Narnia Rap""‡[107]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
16,"""Ronaldinho: Touch of Gold""‡*[110]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
17,"""I/O Brush""‡*[116]",larfus,"247,000","October 29, 2005","October 5, 2005"

In [29]:
driver.quit()